@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: large;
}

body{
    background: linear-gradient(95deg, #323232 0%, #565656 100% );
    width: 100%;
}

.container{
    box-shadow: 9px 9px 25px -4px rgba(0,0,0,0.75);
    font-size: larger;
    font-weight: 700;
    padding: 15pt;
    width: 170pt;
    margin: auto;
    border-radius: 5px;
    background: linear-gradient(45deg, #FC7701 10%, #FCE101 100%);
}

.center{
    /* background: red; */
    margin: auto;
    align-items: center;
    transform: translate(0%, 180%);
}

footer{
    margin: 5pt;
    font-size: small;
    color: #fefefe;
}
.input{
    font-size: 20px;
    line-height: 25px;
    width: 160pt;
    height: 22pt;
    margin: 2pt;
    border-radius: 6px;
    border-width: 0.5px;
}