.block-filler-img {
    width: 100%;
    object-fit: contain;
}

.block-filler {
    width: 100%;
}

.block-header {
    width: 100%;
    font-size: xx-large;
    text-align: center;
    font-weight: 800;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-color: transparent;
    border-width: 0.5px;
    border-bottom: rgba(0, 0, 0, .1);
    border-style: solid;
}

.block {
    padding-top: 15px;
    padding-bottom: 15px;
}