.m-1x {
  width: $mw-1x;
  height: $mh-1x;
}

.m-2x {
  width: $mw-1x;
  height: $mh-2x;
  //   background-color: $gray-700;
  padding: $sw-spacer * 2.5 0;
}

.sw-1x {
  width: $sw-1x;
  background-color: rgba(255, 0, 0, 0.151);
}
.sh-1x {
  height: $sw-1x;
}
.sh-2x {
  height: $sw-2x;
}

.sw-2x {
  width: $sw-2x;
}

.sv-spacer {
  width: $sw-spacer;
  height: $mh-1x;
}
.sh-spacer {
  width: $sw-1x;
  height: $sw-spacer;
}
