// width
$mw-1x: 100vw;
$sw-1x: calc((100vw / 4) - ((100vw / 2) * 0.05));
$sw-2x: calc((100vw / 2) - ((100vw / 2) * 0.075));

$sw-spacer: calc(((100vw / 2) * 0.05));

// height
$mh-1x: 100vh;
$mh-2x: 200vh;

$sh-1x: calc(((100vh / 4) - ((100vh / 2) * 0.05)) * 2);
$sh-2x: calc(((100vh / 2) - ((100vh / 2) * 0.075)) * 2);

$sh-spacer: calc(((100vh / 2) * 0.05));

$sr-1: 5%;
$sr-2: 10%;
$sr-3: 15%;
$sr-4: 20%;
$sr-5: 25%;

$gray-100: #f6f9fc !default;
$gray-200: #e9ecef !default;
$gray-300: #e3e3e3 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default; // Line footer color
$gray-700: #525f7f !default; // Line p color
$gray-800: #32325d !default; // Line heading color
$gray-900: #212529 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);
